@import url(http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900);

p {
	color: #545454;
	font-size: 0.9375rem;
	font-weight: 400;
	line-height: 25px;
	padding-bottom: 10px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
p a:hover {
	border-bottom: 1px dotted #1fb5ac;
}
mark {
	background: #1fb5ac;
	color:#ffffff;
	padding: 1px 3px;
}
mark.black {
	background: #262626;
}
img {
	max-width: 100%;
	height: auto;
}
iframe,
audio {
	width: 100%;
	height: auto;
	border: none;
}
.page-top-height {
	height: 80px;
}
.light-blue {
	color: #1fb5ac;
}
.next-section {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.white-bg {
	background-color: #ffffff;
}
.gray-bg {
	background-color: #f1f2f7;
}

.carousel-indicators li {
	border-radius: 0;
}

.carousel-indicators .active {
	background-color: #1fb5ac;
	border: none;
}
.page {
	padding-top: 150px;
	padding-bottom: 80px;
}

h2 {
	color: #262626;
	font-weight: 800;
	text-transform: uppercase;
	margin: 15px 0;
	font-size: 2.125em;
}

.sec-head-container {
	margin-top: 150px;
	margin-bottom: 120px;
	overflow: hidden;
}
.sec-head-container  .sec-head-style {
	position: relative;
	max-width: 1170px;
	display: table;
	margin: auto;
	padding: 0 15px;
}
.sec-head-container  .sec-head-style:after {
	content: "";
	height: 140px;
	width: 200%;
	background-color: #1fb5ac;
	position: absolute;
	top: 0;
	left: -200%;
	margin-left: -15px;
}
.section-title {
	color: #1a1a1a;
	font-size: 5.25em;
	font-weight: 900;
	text-align: right;
	text-transform: uppercase;
	line-height: .9em;
	-webkit-text-stroke: 0.3px;
	padding: 0;
	margin: 0;
	float: left;
	width: 300px;
}
.content-title {
	margin-top: 0;
	padding-top: 0;
}
.section-title span {
	color: #1fb5ac;
}
.plx-section-title {
	color: #ffffff;
	font-size: 2.1875em;
	-webkit-text-stroke: 0.2px;
}
.section-description {
	color: #404040;
	font-size: 1.375em;
	font-weight: 300;
	line-height: 40px;
	margin:0;
	margin-left: 360px;
	padding-top: 35px;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke: 0.2px;
}
.parallax-style .subscribe-description {
	color: #ffffff;
}

.team-section {
	padding-bottom: 80px;
}
.member-container {
	text-align: center;
	width: 245px;
	height: 410px;
	margin: 10px auto;
	position: relative;
	z-index: 0;
}
.member-container:after {
	content: "";
	background: #15a9a0;
	width: 100%;
	height: 100%;
	position: absolute;
	left: -10px;
	bottom: -10px;
	z-index: -1; 
}
.member-container .inner-container {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.member-container .member-details {
	background: #1fb5ac;
	width: 100%;
	height: 200px;
	position: absolute;
	bottom: -114px;
}
.member-container:hover .member-details {
	bottom: 0;
}
.member-container .name {
	color: #ffffff;
	font-size: 1.125em;
	font-weight: 700;
	line-height: 1em;
	text-transform: capitalize;
	margin:30px 0 0 0;
}
.member-container p{
	color: #ffffff;
	padding: 0;
}
.member-container .designation {
	font-size: 16px;
	font-weight: 600px;
	line-height: 22px;
	text-align: center;
}
.member-container:after,
.member-container .member-details {
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.item p {
	font-size: 16px;
}