.menutop {
	background-color: #495366;
	padding: 0px;
	height: 80px;
}
.menutop ul {
	padding-top: 31px; 
	padding-left: 590px;
}
.menutop li {
	display: inline;
	padding-left: 44px;
}
.menutop a {
	text-decoration: none;
	color: #FF4A3D;
	font-size: 14px;
	font-family: verdana;
	text-align: center;
	font-weight: 400px;
}
.menutop a:hover {
	text-decoration: none;
	color: #CE3F35;
	font-size: 14px;
	font-family: verdana;
	text-align: center;
	font-weight: 400px;
}